.board-get {
	width: 100%;

}

.get {
	margin-top: 30px;
	margin-bottom: 60px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 13px;
}

/* input */
button { 
	margin:0; 
	*margin:0 2px; 
	padding:0; 
	cursor:pointer; 
	border:0; 
	vertical-align:middle; 
	background-repeat:no-repeat; 
	background-position:top left; 
}

table { 
	border-collapse:collapse; 
	border-spacing:0;
}

/* link */
a:link { 
	color:#666; 
	text-decoration: none; 
}
a:visited {
	color:#666; 
	text-decoration: none;
}
a:hover { 
	color:#0b96d4; 
	text-decoration: underline;
}
a:active { 
	color:#0b96d4; 
	text-decoration: none;
}

.contents_sub { 
	width:100%; 
	margin:0;
}

.contents_sub table { 
	width:100%; 
	border-collapse:collapse; 
}

.board_get {
	border-top: 1px solid #cecece;
}

.board_get th, .board_get td { 
	height:40px; 
	text-align:left; 
	padding:8px; 
	border-bottom:1px solid #cecece; 
}
.board_get th { 
	color:#fff; 
	font-weight:600; 
	background-color:#5f5f5f; 
}
.board_get td { color:#797979; }

/* Button */
.btn_write { 
	display:inline-block; 
	background:#5f5f5f;
	border:1px solid #404144;
	padding:6px 17px 7px 17px;
}
.btn_list  { 
	display:inline-block; 
	background:#fcfcfc; 
	border:1px solid #bcbcbc;
	padding:6px 17px 7px 17px;
}
.btn_area .btn_txt01 {
	color: #fff;
	font-weight: 600;
}

.btn_area .btn_txt02 { 
	color: #5f5f5f;
	font-weight: 600;
}

/* Align */
.btn_area {
	overflow:hidden; 
	margin:10px 0;
}
.align_left {float:left; }
.align_right {float:right;}

/* Reply */
.reply-table {
	background: #FAFAFA;
}

.reply-tr1 td {
	border-top: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc;
	padding: 20px 30px;
	font-size: 12px;
}

.reply-tr2 td {
	padding: 10px 30px;
	font-size: 12px;
}

.reply-tr3 td {
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
}

.reply-table input[type=text] {
	border: 1px solid #404144;
	background-color: #fff;
}

.reply-table textarea {
	border: 1px solid #404144;
	width:90%;
	background-color: #fff;
}

.reply-table input[type=button] {
	color: #fff;
	height: 78.8px;
}

/* Mobile Version
------------------------------ */
@media (max-width: 800px) {
	
	th, td {
		font-size: 10px;
	}
	
	.reply-tr1 td, .reply-tr2 td {
		font-size: 10px;
	}
	
	
	
}
