<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.er.mapper.BoardMapper">
	
	<!-- 
	<select id="getList" resultType="com.er.domain.BoardVO">
		<![CDATA[
			select * from board2 where seq > 0
		]]>
	</select>
	 -->
	 
	<select id="getListForPaging" resultType="com.er.domain.BoardVO">
		
		<![CDATA[
		select
			seq, subject, writer, hit, wdate, datediff(now(), wdate) wgap
		from board2
		where ]]>
		
		<!-- 
			trim : 하위에서 만들어지는 SQL문을 조사하여 앞 쪽에 추가적인 SQL을 넣을 수 있다.
			prefix : 실행될 쿼리의 <trim> 문 안에 쿼리 가장 앞에 붙여준다.
			prefixOverrides : 실행될 쿼리의 <trim> 문 안에 쿼리 가장 앞에 해당하는 문자들이 있으면 자동으로 지워준다.
			suffix : 실행 될 쿼리의 <trim> 문 안에 쿼리 가장 뒤에 붙여준다.
			suffixOverrides : 실행될 쿼리의 <trim> 문 안에 쿼리 가장 뒤에 해당하는 문자들이 있으면 자동으로 지워준다.
		 -->
		
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							subject like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
		
		<![CDATA[
		seq > 0
		order by seq desc
		limit #{skip}, #{amount}
		]]>
		
		<!-- select * from (
			select seq, subject, writer, hit, wdate 
			from board2
			order by seq desc
			) as pg
		limit #{skip}, #{amount}  -->
		
	</select>
	
	<select id="getBoardTotalCount" resultType="int">
		select count(*) from board2 where seq > 0
	</select>
	
	<insert id="insert">
		insert into board2 (seq, subject, writer, mail, password, content, hit, wdate)
		values ((select * from (select max(seq)+1 from board1) next), #{subject}, #{writer}, #{mail}, #{password}, #{content}, 0, now() )
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="seq" order="BEFORE" resultType="int">
			select MAX(seq + 1) from board2
		</selectKey>
			insert into board2 (seq, subject, writer, mail, password, content, hit, wdate)
			values (#{seq}, #{subject}, #{writer}, #{mail}, #{password}, #{content}, 0, now() )
	</insert>
	
	<select id="read" resultType="com.er.domain.BoardVO">
		select * from board2 where seq = #{seq}
	</select>
	
	<update id="viewHitUpadate" parameterType="int">
		update board2 set hit=hit+1 where seq = #{seq}
	</update>
	
	<delete id="delete">
		delete from board2 where seq = #{seq} and password = #{password}
	</delete>
	
	<update id="update">
		update board2 set subject=#{subject}, writer=#{writer}, mail=#{mail}, content=#{content}, wdate=now() where seq=#{seq} and password=#{password}
	</update>
	
</mapper>